{% extends 'ecom/index.html' %}
{% load static %}
{% block content %}

 <div class="padding-64 content text-grey" id="contact">
    <h2 class="text-light-grey">Contact Us</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="contact-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Kolkata, India</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
      <p>Let's get in touch. Send us a message:</p>

    </div><br>
    
    <form action="/action_page.php" target="_blank">
      <p><input class="input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="button light-grey padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
  
    <footer class="social-media-logo">
        <i class="fa fa-facebook-official hover-opacity">Facebook</i>
        <i class="fa fa-instagram hover-opacity">Instagram</i>
        <i class="fa fa-snapchat hover-opacity">Snapchat</i>
        <i class="fa fa-pinterest-p hover-opacity">Pinterest</i>
        <i class="fa fa-twitter hover-opacity">Twitter</i>
        <i class="fa fa-linkedin hover-opacity">Linkedin</i>
        <p class="small">For Any Query </p>
    </footer>
    <i><i class="fa fa-facebook-official" aria-hidden="true"></i></i>
{% endblock %}